<!DOCTYPE html>
<html>
  <head>
    <title>Alicia's Family Tree</title>
    <style>
      body{
        background-image: url('templates/hacking.png');
        background-size: cover;
      }
      h1{
        color:rgb(31, 42, 14);
        margin-left: 10cm;
        text-decoration: wavy;
        text-decoration-color: green;
      }
    </style>
  
  </head>
  <body  background-image: url('hacking.png') >
<h1>Top Secret Game for spies >:D</h1>
 <form action='/register' method="POST">
<label for="firstname">First Name:</label>
<input type="text" id="firstname" name="fname" placeholder="firstname">
<label for="lastname">Last Name:</label>
<input type="text" id="lastname" name="lname" placeholder="lastname">
<button type="submit">Login</button>
   
  </body>
</html>